<li>
	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Lets Eat!
		{{else}}Finish Up! {{/if}}
	</button>

	<button class="gone-burger" data-id="{{this.id}}">
		Finish Up!</button>


</li>